.navbar-custom {
    background-color: rgb(218, 144, 144);
    color: black;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5rem;
}

#main-text {
    font-size: 1.25rem;
    color: #444;
    margin-bottom: 1rem;
    line-height: 1.6;
}

#sub-text li {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.image-box {
    border-left: 3px solid #007bff;
    padding-left: 1rem;
}

.container {
    padding: 2rem;
}

.quiz_question {
    color: rgb(115, 110, 110);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}

.quiz_media img{
    display: block;
    margin: 20px auto;
    width: 500px;
    height: 300px;
    object-fit: cover;
    border: 4px solid #b1acac;
    border-radius: 8px;
}

#quiz_score{
    font-size: 22px;
    color:  rgb(115, 110, 110);
    text-align: center;
}

.quiz_result{
    font-weight: bold;
    font-size: 18px;
}

.page_header {
    color: #333;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

.droperror
{
    color: red;
    border: 1px solid red;
}

.home-btn {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    font-weight: bold;
    border-radius: 12px;
}
