{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<head>
    <script>
        let lesson = {{ lesson|tojson }};
    </script>
    <script src="{{ url_for('static', filename='learn.js') }}"></script>
</head>

<html lang="en">
    <body>
        <div class="container my-4">
            <h1 id="section-title" class="text-center my-4">{{ lesson.title }}</h1>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 id="title">{{ lesson.Section }}</h2>
                    <p id="main-text">{{ lesson['main-text'] }}</p>
                    <ul id="sub-text">
                        {% for item in lesson['sub-text'] %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 image-box text-center">
                    {% if 'expanded-text' in lesson %}
                        <button id="expand" class="btn btn-primary">Learn More</button>
                    {% endif %}
                    <img id="lesson-img" src="{{ lesson.image }}" alt="Lesson Image" class="img-fluid">
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a class="btn btn-danger" id="prev-btn" href="{{ url_for('learn', lesson_id=lesson_id - 1) }}">BACK</a>
                <a class="btn btn-primary" id="next-btn" href="{{ url_for('learn', lesson_id=lesson_id + 1) }}">NEXT</a>
            </div>
        </div>
    </body>
</html>
{% endblock %}