{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-end">
        <span class="badge bg-secondary fs-5">{{ question_id + 1 }}/{{ total_questions }}</span>
    </div>
    <div class="page_header">Quiz</div>
    <div class="quiz_question">Question: {{ question.text }}</div>
    {% if question.media %}
    <div class="quiz_media">
        <img src="{{ question.media }}" alt="Question Media">
    </div>
    {% endif %}
    <form id="quizForm" class="drag_drop" method="POST">
        {% for option in question.drag_options %}
        <p id="{{ option }}" draggable="true" ondragstart="onDragStart(event)" style="border: 1px solid black;">{{ option }}</p>
        {% endfor %}
        <br>
        {% for option in question.drop_options %}
        <div id="{{ option }}" ondrop="onDrop(event)" ondragover="onDragOver(event)" style="border: 1px solid black;">{{ option }}</div>
        <input type="hidden" name="submission" id="{{ option }}_submit">
        <br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div id="feedbackMessage" class="mt-3" style="display: none;"></div>
    <a href="{{ url_for('quiz', question_id=question_id + 1) }}" class="btn btn-success mt-2 d-none" id="next-button">Next</a> 
</div>

<script src="{{ url_for('static', filename='dd_quiz.js') }}"></script>
{% endblock %}