{% extends "layout.html" %}
{% block content %}
<script src="{{ url_for('static', filename='textbox_quiz.js') }}"></script>
<div class="container">
    <div class="d-flex justify-content-end">
        <span class="badge bg-secondary fs-5">{{ question_id + 1 }}/{{ total_questions }}</span>
    </div>
    <div class="page_header">Quiz</div>
    <div class="quiz_question">Question: {{ question.text }}</div>
    {% if question.media %}
    <div class="quiz_media">
        <img src="{{ question.media }}" alt="Question Media">
    </div>
    {% endif %}
    <form id="quizForm" class="textbox" method="POST">
        <div>
            <textarea class="form-control" name="answer" rows="5" placeholder="Type here..." required></textarea>
        </div>
        <div class="quiz-buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ url_for('quiz', question_id=question_id + 1) }}" class="btn btn-success d-none" id="next-button">Next</a>
        </div>
    </form>
</div>
<div id="feedbackMessage" class="mt-3"></div>

<script>
    const quizStartTime = Date.now();

    window.addEventListener("beforeunload", () => {
        const timeSpent = Math.round((Date.now() - quizStartTime) / 1000);

        navigator.sendBeacon(
            "/log-time",
            JSON.stringify({
                type: "quiz",
                id: {{ question_id }},
                time_spent: timeSpent
            })
        );
    });
</script>

{% endblock %}