{% extends "layout.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        const questionId = window.location.pathname.split('/').pop();
        const $quizForm = $('#quizForm.multiple_choice'); // Target the multiple_choice form
        const $feedbackMessage = $('#feedbackMessage');
        const $nextButton = $('#next-button');
        // Handle form submission via AJAX
        $quizForm.submit(function (e) {
            e.preventDefault();
            const formData =  $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/quiz/' + questionId,
                data: formData,
                dataType: 'json',
                success: function (response) {
                    if (response.correct) {
                        $feedbackMessage.removeClass('alert-danger').addClass('alert-success').text('Congratulations, you got it correct!').show();
                    } else {
                        $feedbackMessage.removeClass('alert-success').addClass('alert-danger').text('Incorrect. The answer is: '+ response.correct_answer).show();
                    }
                    $nextButton.attr('href', '/quiz/' + (parseInt(questionId) + 1)).removeClass('d-none');
                    $quizForm.find('input[type="radio"], button').prop('disabled', true); // Disable radio buttons and submit button
                },
                error: function () {
                    alert('An error occurred. Please try again.');
                }
            });
        });
    });
</script>

<div class="container">
    <div class="d-flex justify-content-end">
        <span class="badge bg-secondary fs-5">{{ question_id + 1 }}/{{ total_questions }}</span>
    </div>
    <div class="page_header">Quiz</div>
    <div class="quiz_question">Question: {{ question.text }}</div>
    {% if question.media %}
    <div class="quiz_media">
        <img src="{{ question.media }}" alt="Question Media">
    </div>
    {% endif %}
    
    <form id="quizForm" class="multiple_choice" method="POST">
        {% for option in question.options %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="option{{ loop.index }}" value="{{ option }}" required>
            <label class="form-check-label" for="option{{ loop.index }}">
                {{ option }}
            </label>    
        </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div id="feedbackMessage" class="mt-3" style="display: none;"></div>
    <a href="{{ url_for('quiz', question_id=question_id + 1) }}" class="btn btn-success mt-2 d-none" id="next-button">Next</a> 
</div>
{% endblock %}